html {
    height: 100%;
    font-family: 'News Cycle', sans-serif;
    overflow: hidden;
  }

body {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    margin: 0;
    padding: 0;

}

#image-container {
    display: flex;
    background-image: url(./background.jpg);
    width: 33.5%;
    justify-content: center;
}

#form-container-main {
    display: flex;
    flex-direction: column;
    width: 66.5%;
    background-color: #F9FAFB;
}

#text-container {
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: end;
    min-height: 33.33%;
    padding-left: 2rem;
    margin-right: 28%;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: center;
    min-height: 33.33%;
    padding-left: 2rem;
    background-color: white;
    -webkit-box-shadow: 0 8px 10px -2px #DDDEDF;
    -moz-box-shadow: 0 8px 10px -2px #DDDEDF;
    box-shadow: 0 8px 10px -2px #DDDEDF;
}

#submit-container {
    display: flex;
    flex-direction: column;
    min-height: 33.33%;
    padding-left: 2rem;
    padding-top: 2rem;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(139, 140, 141, 0.5);
    width: 100%;
    height: 12rem;
    margin-top: 44%;
}

h1 {
    font-family: 'Vibur', cursive;
    font-size: 10rem;
    color: #DDDEDF;
    font-weight: 100;
    padding-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: left;
    margin-right: 30%;
}

#fields-container {
    display: flex;
    flex-direction: row;
}

.fields-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 2rem;
}

.fields-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    text-transform: uppercase;
    letter-spacing: .06rem;
    color: rgb(89, 89, 89);
}

input {
    margin-bottom: 2rem;
    height: 2.4rem;
    width: 22rem;
    border-radius: 0.2rem;
    border:1px solid #DDDEDF;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.input-error {
    border:1px solid red;
}

#error {
    position: absolute;
    bottom: 35%;

}

.error-msg {
    color: red;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
}

input:focus, input:hover {
    box-shadow: 5px 6px 6px #DDDEDF;
    border:1px solid #BC8D83;
}

button {
    width: 16rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #BC8D83;
    font-size: 1.7rem;
    color: #F9FAFB;
    box-shadow: 5px 6px 6px #DDDEDF;
    font-family: 'Vibur', cursive;
    font-weight: 50;
}

button:focus, button:hover {
    background-color: #925c50;
    box-shadow: 5px 6px 6px #8b8c8d;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#submit-container > p {
    padding-top: 2rem;
}

a {
    color: #925c50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }
